p {
  font-size: 16px;
  color: #777777;
  line-height: normal;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 15px;
}

body {
  height: 100%;
  width: 100%;
  padding-bottom: 85px;
}

.mainSectionTitle {
  display: block;
  width: 100%;
  color: #4aaaa5;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 3px solid #dddddd;
}

.sidebarTitle {
  display: block;
  width: 100%;
  color: #4aaaa5;
  padding-bottom: 15px;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 20px;
  display: inline-block;
}

.socialBtn1 {
  float: left;
}

.socialBtn2 {
  float: left;
  margin-left: 8px;
}

.socialBtnSize {
  height: 70px;
  width: 70px;
}

.navBarStyle {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #dddddd;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  z-index: 2;
}

.navLinkPosition {
  margin-left: 442px;
}

.mainContainer {
  width: 960px;
  position: relative;
  /*left: 85px;*/
}

.navLinkText {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
  color: #777777 !important;
}

.name {
  position: relative;
  left: 70px;
  max-height: 78px;
  width: 290px; /*enhancement needed*/
  background-color: #4aaaa5;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 100px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.head1 {
  font-size: 32px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

.head2 {
  font-size: 22px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.head3 {
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #777777;
}

.rowPosition {
  position: relative;
  top: 75px;
  left: 85px;
  max-width: 960;
  padding-bottom: 100px;
}

.colMargin {
  margin-top: 20px;
}

.leftMargin {
    margin-left: 30px;
}

.rightMargin {
  margin-right: 30px;
}

.bottomMargin {
  margin-bottom: 30px;
}

.inlineImage {
  margin-bottom: 10px;
  display: inline-block;
  width: 50vw;
  height: auto;
}

.sectionContainer {
  width: 70vw;
  max-width: 590px;
  height: auto;
}

.contactForm {
  position: relative;
  font-size: 16px;
  display: block;
  color: #777777;
  line-height: normal;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 10px;
}

.formSubmit {
  color: #ffffff;
  background-color: #4aaaa5;
  display: block;
}

.formInput {
  margin-bottom: 30px;
  display: block;
}

.footer {
  position: absolute;
  margin-top: 30px;
  height: 80px;
  width: 100%;
  background-color: #666666;
  border-top: 5px solid #4aaaa5;
}

.footerText {
  font-size: 13px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  top: 30px;
  left: 380px;
  color: #cccccc;
  white-space: nowrap;
}
